.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.app-header{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 16px;
    padding-top: 36px;
}
.app-main{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;

}


.button-light{
    padding: 4px;
    color: black;
    background-color: #c5ddcf80;
    border:#292E49 2px solid;
    border-radius: 16px;
}
.button-dark{
    padding: 4px;
    color: white;
    background-color: #536976;
    border:#292E49 2px solid;
    border-radius: 16px;
}


.account{
    display: flex;
    flex-flow: column;
    justify-content:space-evenly;
    align-items: center;
    height: 200px;
    width: 248px;
    margin-top: 24px;
    padding-left: 160px;
    padding-right: 160px;
}
.account-icon{
    height: 152px;
    width: fit-content;
    padding-left: 160px;
    padding-right: 160px;
    margin-top: -16px;
    color: #c5ddcf80;
}

.cycle-calculations{
    width: fit-content;
    height: fit-content;
    margin: 16px;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c5ddcf80;
    border:#292E49 2px solid;
    border-radius: 8px;
    color: black;
}
.cycle-month{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 8px;
}
.cycle-week{
    width: 200px;
    margin: 8px;
    padding: 8px;
    background-color: #536976;
    border:#292E49 2px solid;
    border-radius: 8px;    
    color: white; 
}
.log-submission-form{
    height: 168px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-between;
    margin-bottom: -24px;
}


.max-estimator{
    width: 400px;
    height: fit-content;
    margin: 16px;
    padding: 8px;
    background-color: #c5ddcf80;
    border:#292E49 2px solid;
    border-radius: 8px;   
    color: black; 
}

.log-viewer{
    width: fit-content;
    height: fit-content;
    margin: 16px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    background-color: #c5ddcf80;
    border:#292E49 2px solid;
    border-radius: 8px; 
}

.log-card{
    width: fit-content;
    height: fit-content;
    margin: 8px;
    display:flex;
    flex-flow: row wrap;
    justify-content:center;
    align-items: center;
    color: black; 
    background-color: #536976;
    border:#292E49 2px solid;
    border-radius: 8px; 
}

.log-week{
    width: 136px;
    height: 136px;
    margin: 4px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    color: black;
    background-color: #c5ddcf80;
    border:#292E49 2px solid;
    border-radius: 8px; 
}

.log-info{
    width: 136px;
    height: 136px;
    margin: 4px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    color: white; 
}