.App{
    background-color: mintcream;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cycle-calculations{
    width: 50%;
}
.cycle-week{
    border: 1px black solid;
}

.max-estimator{
    width: 50%;
}

